<header>
  <nav class="navbar">
  <img src="assets/images/logo.png">
    <ul class="navbar-nav">
      <li>Portfolio</li>
      <li>Featrue</li>
      <li>Profile</li>
      <li>Contact</li>
    </ul>
  </div>
  </nav>
</header>
<section class="mv">
  <div class="container">
    <h1 class="mv-title">Lorem Ipsum</h1>
    <p class="mv-text">simply dummy text of the printing</p>
  </div>
</section>
<section class="portfolio">
  <div class="container">
    <h3 class="portfolio-title">Portfolio</h3>
    <p class="border"></p>
    <p class="portfolio-text">
      It is a long establishes fact that a reader will be distracted by the readable</br>
      contaent of a page when looking at its layout.</br>
      The point of using Lorem Ipsum is the it has a more-or-less normal distribuntion of letters
    </p>
    <div class="portfolio-group">
      <div class="box-1 sp-none"></div>
      <div class="box-2"></div>
      <div class="box-3 sp-none"></div>
      <div class="box-4"></div>
      <div class="box-5 sp-none"></div>
      <div class="box-6"></div>
    </div>
  </div>
</section>
<section class="feature">
  <div class="container">
    <h3 class="feature-title">Feature</h3>
    <p class="border"></p>
    <p class="feature-text">
      It is a long established fact that a reader will be distracted by the readable</br>
      content of a page when looking at its layout.</br>
      The point of using Lorem Ipsum is that it has a more-or-less nomal sistribution of letters
    </p>
  </div>
  <div class="feature-group">
    <div class="text-box-1">
      <i class="fa-solid fa-code"></i>
      <h6 class="box-title">Strength1</h6>
      <p class="box-text">
        Contrary to popular belief. Lorem Ipsum</br>
        is not simply random text. It has roots</br>
        in a piece of classical Latin literrature</br>
        from 45 BC, making it over 2000 years</br>
        old Richard McClintock, a Latin</br>
        professor at Hampden-Sydney College</br>
        in Cirginia, looked up one of the more</br>
        obscure Latin words, consectetur
      </p>
    </div>
  </div>
</section>
