<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>MySite</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <img src="logo.png">
        <div class="container" algin="center">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>