<header>
  <nav class="navbar">
  <img src="assets/images/logo.png">
    <ul class="navbar-nav">
      <li>Portfolio</li>
      <li>Featrue</li>
      <li>Profile</li>
      <li>Contact</li>
    </ul>
  </div>
  </nav>
</header>
<section class="mv">
  <div class="container">
    <h1 class="mv-title">Lorem Ipsum</h1>
    <p class="mv-text">simply dummy text of the printing</p>
  </div>
</section>
