<header>
  <nav class="navbar">
  <img src="assets/images/logo.png">
    <ul class="navbar-nav">
      <li>Portfolio</li>
      <li>Featrue</li>
      <li>Profile</li>
      <li>Contact</li>
    </ul>
  </div>
  </nav>
</header>
<section class="mv">
  <div class="container">
    <h1 class="mv-title">Lorem Ipsum</h1>
    <p class="mv-text">simply dummy text of the printing</p>
  </div>
</section>
<section class="portfolio">
  <div class="container">
    <h3 class="portfolio-title">Portfolio</h3>
    <p class="border"></p>
    <p class="portfolio-text">
      It is a long establishes fact that a reader will be distracted by the readable</br>
      contaent of a page when looking at its layout.</br>
      The point of using Lorem Ipsum is the it has a more-or-less normal distribuntion of letters
    </p>
    <div class="portfolio-group">
      <div class="box-1 sp-none"></div>
      <div class="box-2"></div>
      <div class="box-3 sp-none"></div>
      <div class="box-4"></div>
      <div class="box-5 sp-none"></div>
      <div class="box-6"></div>
    </div>
  </div>
</section>
