// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.navbar {
  width: 1024px;
  height: 70px;

  margin: 0 auto;
  background-color: #EC715F;
}

.navbar-nav {
  list-style: none;
  text-align: right;
}

li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px;
  color: #FAFAFA;
}

.mv {
  width: 100%;
  height: 650px;
  background-image: url("mv.png");
  background-size: contain;
}

.mv-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  font-size: 64px;
  color: #FAFAFA;
}

.mv-text {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  color: #FAFAFA;
}

.portfolio {
  width: 100%;
  background-color: #ECEFF1;
}

.portfolio-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.border {
  width: 70px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 3px solid #EC715F;
  padding-top: 8px;
}

.portfolio-text {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 16px;
  color: #000000;
}

.portfolio-group {
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.box-1 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url("sketch.jpg");
  background-size: cover;
}

.box-2 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url("websuku.png");
  background-size: cover;
}

.box-3 {
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
  background-image: url("write.jpg");
  background-size: cover;
}

.box-4 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url("webcamp.png");
  background-size: cover;
}

.box-5 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url("talk.jpg");
  background-size: cover;
}

.box-6 {
  width: 300px;
  height: 250px;
  background-image: url("webcamp-mother.png");
  background-size: cover;
}

.feature-text {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 16px;
  color: #000000;
}

.feature-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.feature-group {
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
}

.fa-code {
  margin: 0 auto;
}

.box-title {
  text-align: center;
  font-size: 20px;
  margin: 10px 0 10px 0;
  color: #000000;
}

.text-box-1 {
  width: 320px;
  margin-right: 10px;
}

.text-box-2 {
  width: 320px;
  margin-right: 10px;
}

.text-box-3 {
  width: 320px;
}

.profile-title {
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}